<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head >
    <link rel="stylesheet" th:href="@{index.css}">
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
</head>
<body>
    <a th:href="@{/class_resource}">Class Resources</a>
    <a th:href="@{/icon}">Icons</a>
    <a th:href="@{/role}">Roles</a>
    <a th:href="@{/spec}">Specs</a>
    <a th:href="@{/spell_school}">Spell Schools</a>
    <a th:href="@{/stat}">Stats</a>
    <a th:href="@{/class}">Classes</a>
</body>
</html>