<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head >
    <link rel="stylesheet" th:href="@{../index.css}">
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<h1 th:text="${pageTitle}"></h1>
<div class="flex_container">
    <div class="object_container">
        <form th:action="@{${action}}" th:method="${method}" th:object="${object}">
            <p>Object name:</p>
            <input th:field="*{name}">
            <div th:if="${type=='Icon'}">
                <p>Object Icon path:</p>
                <input th:field="*{path}">
            </div>
            <div th:if="${type=='Role'}">
                <p>Object Icon:</p>
                <select th:field="*{icon}" id="icon">
                    <option th:each="icon : ${icons}" th:value="${icon.getId()}" th:text="${icon.getName()}"></option>
                </select>
            </div>
            <div th:if="${type=='Spec'}">
                <p>Object Description:</p>
                <input th:field="*{description}" id="description">
                <p>Object Role ID:</p>
                <select th:field="*{role}" id="role">
                    <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
                </select>
                <p>Object Class ID:</p>
                <select th:field="*{warcraftClass}" id="warcraftClass">
                    <option th:each="class : ${classes}" th:value="${class.getId()}" th:text="${class.getName()}"></option>
                </select>
                <p>Object Icon:</p>
                <select th:field="*{icon}" id="icon">
                    <option th:each="icon : ${icons}" th:value="${icon.getId()}" th:text="${icon.getName()}"></option>
                </select>
            </div>
            <div th:if="${type=='WarcraftClass'}">
                <p>Object Description:</p>
                <input th:field="*{description}" id="description">
                <p>Object Icon:</p>
                <select th:field="*{icon}" id="icon">
                    <option th:each="icon : ${icons}" th:value="${icon.getId()}" th:text="${icon.getName()}"></option>
                </select>
            </div>
            <input type="submit" value="Отправить">
        </form>
    </div>
</div>
</body>
</html>