<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head >
    <link rel="stylesheet" th:href="@{../index.css}">
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<h1 th:text="${pageTitle}"></h1>
<div class="flex_container">

    <div class="object_container_add">
        <a th:if="${type=='Icon'}" th:href="@{/icon/add}">+</a>
        <a th:if="${type=='ClassResource'}" th:href="@{/class_resource/add}">+</a>
        <a th:if="${type=='Role'}" th:href="@{/role/add}">+</a>
        <a th:if="${type=='Spec'}" th:href="@{/spec/add}">+</a>
        <a th:if="${type=='SpellSchool'}" th:href="@{/spell_school/add}">+</a>
        <a th:if="${type=='Stat'}" th:href="@{/stat/add}">+</a>
        <a th:if="${type=='WarcraftClass'}" th:href="@{/class/add}">+</a>
    </div>
    <div th:each="object : ${objectsFromController}" class="object_container">
        <p>Object ID:</p>
        <p th:text="${object.getId()}"></p>
        <p>Object name:</p>
        <p th:text="${object.getName()}"></p>
        <div th:if="${type=='ClassResource'}">
            <form th:action="@{/class_resource/change/{id}(id=${object.getId()})}" th:method="GET">
                <button type="submit">Изменить</button>
            </form>
            <form th:action="@{/class_resource/delete/{id}(id=${object.getId()})}" th:method="DELETE">
                <button type="submit">Удалить</button>
            </form>
        </div>
        <div th:if="${type=='SpellSchool'}">
            <form th:action="@{/spell_school/change/{id}(id=${object.getId()})}" th:method="GET">
                <button type="submit">Изменить</button>
            </form>
            <form th:action="@{/spell_school/delete/{id}(id=${object.getId()})}" th:method="DELETE">
                <button type="submit">Удалить</button>
            </form>
        </div><div th:if="${type=='Stat'}">
            <form th:action="@{/stat/change/{id}(id=${object.getId()})}" th:method="GET">
                <button type="submit">Изменить</button>
            </form>
            <form th:action="@{/stat/delete/{id}(id=${object.getId()})}" th:method="DELETE">
                <button type="submit">Удалить</button>
            </form>
        </div>
        <div th:if="${type=='Icon'}">
            <p>Object Icon:</p>
            <img th:src="${object.getPath()}">
            <p>Object Icon path:</p>
            <p th:text="${object.getPath()}"></p>
            <form th:action="@{/icon/change/{id}(id=${object.getId()})}" th:method="GET">
                <button type="submit">Изменить</button>
            </form>
            <form th:action="@{/icon/delete/{id}(id=${object.getId()})}" th:method="DELETE">
                <button type="submit">Удалить</button>
            </form>
        </div>
        <div th:if="${type=='Role'}">
            <p>Object Icon:</p>
            <img src="${object.getIcon().getPath()}">
            <form th:action="@{/role/change/{id}(id=${object.getId()})}" th:method="GET">
                <button type="submit">Изменить</button>
            </form>
            <form th:action="@{/role/delete/{id}(id=${object.getId()})}" th:method="DELETE">
                <button type="submit">Удалить</button>
            </form>
        </div>
        <div th:if="${type=='Spec'}">
            <p>Object Description:</p>
            <p th:text="${object.getDescription()}"></p>
            <p>Object Role ID:</p>
            <p th:text="${object.getRole().getId()}"></p>
            <p>Object Class ID:</p>
            <p th:text="${object.getWarcraftClass().getId()}"></p>
            <p>Object Icon:</p>
            <img th:src="${object.getIcon().getPath()}">
            <form th:action="@{/spec/change/{id}(id=${object.getId()})}" th:method="GET">
                <button type="submit">Изменить</button>
            </form>
            <form th:action="@{/spec/delete/{id}(id=${object.getId()})}" th:method="DELETE">
                <button type="submit">Удалить</button>
            </form>
        </div>
        <div th:if="${type=='WarcraftClass'}">
            <p>Object Description:</p>
            <p th:text="${object.getDescription()}"></p>
            <p>Object Icon:</p>
            <img th:src="${object.getIcon().getPath()}">
            <form th:action="@{/class/change/{id}(id=${object.getId()})}" th:method="GET">
                <button type="submit">Изменить</button>
            </form>
            <form th:action="@{/class/delete/{id}(id=${object.getId()})}" th:method="DELETE">
                <button type="submit">Удалить</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>